{% extends "base.html" %}
{% block explain_contents %}

		</header>
		<div class="site-content-warp">
			<!-- Left Side section -->
			<div class="main-sidebar">
				<div class="mb-warp">
					<a href="index" class="site-logo">
						<h2>Data Cook</h2>
						<p>BigData analysis</p>
					</a>
					<div class="about-info">
						<h2> 코로나 바이러스 </h2>
						<h2>3월 감염자 예측<h2>
						<p>model: fbprophet </p>
					</div>
					<ul class="contact-info">
						<li>대한민국</li>
						<li>제주특별자치도</li>
						<li><a href="mailto:lyt970120@gmail.com">lyt970120@gmail.com</a></li>
					</ul>
				<a href="pop" class="site-btn" onclick="window.open(this.href, '_blank', 'width=600,height=800, scrollbars=no, resizable=no, toolbars=no, menubar=no'); return false;">문의하기 <img src="static/img/arrow-right.png" alt=""></a>
				</div>
			</div>
			<!-- Left Side section end -->
			<!-- Page start -->


			<div class="page-section blog-page">
				<div class="blog-posts">

				<div class="blog-post-item">
						<div class="post-date">
							<h3>09</h3>
							<p>03<br>2020</p>
						</div>
						<img src="static/img/blog/20200309.png" border="0" width="600" height="400"/>
					<p> 이제 점점 확진자 추이가 확 줄었네요. 내일도 줄었으면 좋겠네요. </p>
					</div>

				<div class="blog-post-item">
						<div class="post-date">
							<h3>08</h3>
							<p>03<br>2020</p>
						</div>
						<img src="static/img/blog/20200308.png" border="0" width="600" height="400"/>
					<p> 증가추이가 많이 줄었습니다. </p>
					</div>

				<div class="blog-post-item">
						<div class="post-date">
							<h3>07</h3>
							<p>03<br>2020</p>
						</div>
						<img src="static/img/blog/20200307.png" border="0" width="600" height="400"/>
					<p> 언제까지 증가추세일지.. 마음이 아프네요.. </p>
					</div>

				<div class="blog-post-item">
						<div class="post-date">
							<h3>06</h3>
							<p>03<br>2020</p>
						</div>
						<img src="static/img/blog/20200306.png" border="0" width="600" height="400"/>
					<p> 6천명돌파 </p>
					</div>

				<div class="blog-post-item">
						<div class="post-date">
							<h3>05</h3>
							<p>03<br>2020</p>
						</div>
						<img src="static/img/blog/20200305.png" border="0" width="600" height="400"/>
					<p> 5천500명 돌파 </p>
					</div>

				<div class="blog-post-item">
						<div class="post-date">
							<h3>04</h3>
							<p>03<br>2020</p>
						</div>
						<img src="static/img/blog/20200304.png" border="0" width="600" height="400"/>
					<p> 5천명 돌파 </p>
					</div>

				<div class="blog-post-item">
						<div class="post-date">
							<h3>03</h3>
							<p>03<br>2020</p>
						</div>
						<img src="static/img/blog/20200303.png" border="0" width="600" height="400"/>
					<p> 질본에서 처리할 일이 많아서 하루에 1번 업데이트 하는 듯..  </p>
					</div>

				<div class="blog-post-item">
						<div class="post-date">
							<h3>02</h3>
							<p>03<br>2020</p>
						</div>
						<img src="static/img/blog/20200302.png" border="0" width="600" height="400"/>
					<p> 4천명돌파, 질본에서 매일 0시이후에 자료업데이트예정.</p>
					</div>

				<div class="blog-post-item">
						<div class="post-date">
							<h3>01</h3>
							<p>03<br>2020</p>
						</div>
						<img src="static/img/blog/20200301.png" border="0" width="600" height="400"/>
					<p> 누적확진자 3736명..</p>
					</div>

			<!-- Page end -->
		</div>

{% endblock explain_contents %}