{% extends "base.html" %}
{% block explain_contents %}
		</header>
		<div class="site-content-warp">
			<!-- Left Side section -->
			<div class="main-sidebar">
				<div class="mb-warp">
					<a href="index" class="site-logo">
						<h2>Data Cook</h2>
						<p>BigData analysis</p>
					</a>
					<div class="about-info">
						<h2> 코로나 바이러스 </h2>
						<h2>2월 감염자 예측<h2>
						<p>model: fbprophet </p>
					</div>
					<ul class="contact-info">
						<li>대한민국</li>
						<li>제주특별자치도</li>
						<li><a href="mailto:lyt970120@gmail.com">lyt970120@gmail.com</a></li>
					</ul>
					<a href="#" class="site-btn">see my portfolio <img src="static/img/arrow-right.png" alt=""></a>
				</div>
			</div>
			<!-- Left Side section end -->
			<!-- Page start -->


			<div class="page-section blog-page">
				<div class="blog-posts">

				<div class="blog-post-item">
						<div class="post-date">
							<h3>29</h3>
							<p>02<br>2020</p>
						</div>
						<img src="static/img/blog/20200229.png" border="0" width="600" height="400"/>
					<p> 감염자 추가 800명증가</p>
					</div>


				<div class="blog-post-item">
						<div class="post-date">
							<h3>28</h3>
							<p>02<br>2020</p>
						</div>
						<img src="static/img/blog/20200228Z.png" border="0" width="600" height="400"/>
					<p> 2천명 돌파.</p>
					</div>



				<div class="blog-post-item">
						<div class="post-date">
							<h3>27</h3>
							<p>02<br>2020</p>
						</div>
						<img src="static/img/blog/20200227_.png" border="0" width="600" height="400"/>
					<p> 감염자가 처음으로 500명이상 늘었습니다.</p>
				</div>


				<div class="blog-post-item">
						<div class="post-date">
							<h3>26</h3>
							<p>02<br>2020</p>
						</div>
						<img src="static/img/blog/20200226_.png" border="0" width="600" height="400"/>
				</div>
				<div class="blog-post-item">
						<div class="post-date">
							<h3>25</h3>
							<p>02<br>2020</p>
						</div>
						<img src="static/img/blog/20200225.png" border="0" width="600" height="400"/>
				</div>

				<div class="blog-post-item">
						<div class="post-date">
							<h3>24</h3>
							<p>02<br>2020</p>
						</div>
						<img src="static/img/blog/20200224.png" border="0" width="600" height="400"/>
				</div>

				<div class="blog-post-item">
						<div class="post-date">
							<h3>23</h3>
							<p>02<br>2020</p>
						</div>
						<img src="static/img/blog/20200223.png" border="0" width="600" height="400"/>
				</div>

			</div>
			<!-- Page end -->
		</div>

{% endblock explain_contents %}