 <head>
    	<script data-ad-client="ca-pub-7690745713498799" async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" data-checked-head="true"></script>
	<title>Data Cook</title>


	<meta charset="UTF-8">
	<meta name="description" content="issue">
	<meta name="keywords" content="industry, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<!-- Favicon -->
	<link href="img/favicon.ico" rel="shortcut icon"/>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,900&display=swap" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}"/>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/font-awesome.min.css') }}"/>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/magnific-popup.css') }}"/>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/owl.carousel.min.css') }}"/>

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}"/>
</head>
<div class="page-section about-page">
    <div class="about-section">
        <div class="col-lg-3 col-sm-6 p-0">
 <body>
	<h4> 전송완료. </h4>
<br>
  <strong>닉네임</strong>      {{nick}}<br>
  <strong>Email주소 </strong>          {{email}}<br>
  <strong>문의내용 </strong>          {{text}}<br>
<br>
    <h5>감사합니다.</h5>
	<br><br>
  <button type="button" class="btn btn-success" onclick=self.close()> 창 닫기 </button>
 </body>
        </div>
    </div>
</div>