{% extends "base.html" %}
{% block explain_contents %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

		<div class="site-content-warp">
			<!-- Left Side section -->
			<div class="main-sidebar">
				<div class="mb-warp">
					<a href="index" class="site-logo">
						<h2>Data Cook</h2>
						<p>BigData analysis</p>
					</a>
					<div class="about-info">
						<h2> Twitter </h2>
						<h2> Issue <h2>
						<p>  </p>
					</div>
					<ul class="contact-info">
						<li>대한민국</li>
						<li>제주특별자치도</li>
						<li><a href="mailto:lyt970120@gmail.com">lyt970120@gmail.com</a></li>
					</ul>
				<a href="pop" class="site-btn" onclick="window.open(this.href, '_blank', 'width=600,height=800, scrollbars=no, resizable=no, toolbars=no, menubar=no'); return false;">문의하기 <img src="static/img/arrow-right.png" alt=""></a>
				</div>
			</div>
			<!-- Left Side section end -->
			<!-- Page start -->

				<!-- 텍스트~~	-->
			<div class="container">
					  <div class="dropdown">
						<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
						  목록보기
						</button>
					  <p>이미 지난 이슈를 볼수 있습니다.</p>

						<div class="dropdown-menu">
						  <a class="dropdown-item" href="twitter02">2020/02</a>
						  <a class="dropdown-item" href="twitter03">2020/03</a>
<!--						  <a class="dropdown-item-text" href="#">Text Link</a>-->
<!--						  <span class="dropdown-item-text">Just Text</span>-->
						</div>
					  </div>
					</div>
<!-- TEXT 끝-->

			<div class="page-section blog-page">

				<div class="blog-posts">

					<div class="blog-post-item">
						<div class="post-date">
							<h3>29</h3>
							<p>02<br>2020</p>
						</div>
						<img src="static/img/wordcloud/twitter_0229.png" border="0" width="600" height="400"/>
					<p> 트위터 검색어 : 휴일지킴이약국 </p>

				</div>


					<div class="blog-post-item">
						<div class="post-date">
							<h3>28</h3>
							<p>02<br>2020</p>
						</div>
						<img src="static/img/wordcloud/twitter_0228_m.png" border="0" width="600" height="400"/>
					<p> 트위터 검색어 : 뮤직뱅크 </p>
						<img src="static/img/wordcloud/twitter_0228.png" border="0" width="600" height="400"/>
					<p> 트위터 검색어 : 이시언 </p>
				</div>


				<div class="blog-post-item">
						<div class="post-date">
							<h3>27</h3>
							<p>02<br>2020</p>
						</div>
						<img src="static/img/wordcloud/twitter_0227.png" border="0" width="600" height="400"/>
					<p> 트위터 검색어 : 코로나 </p>
						<img src="static/img/wordcloud/twitter_0227_2.png" border="0" width="600" height="400"/>
					<p> 트위터 검색어 : 신천지 </p>
				</div>

				<div class="blog-post-item">
					<div class="blog-thumb set-bg" data-setbg="." >
						<div class="post-date">
						</div>
					</div>
						</div>
				</div>
			</div>
			<!-- Page end -->
		</div>
{% endblock explain_contents %}