{% extends "base.html" %}
{% block explain_contents %}

		</header>
		<div class="site-content-warp">
			<!-- Left Side section -->
			<div class="main-sidebar">
				<div class="mb-warp">
					<a href="index" class="site-logo">
						<h2>Data Cook</h2>
						<p>BigData analysis</p>
					</a>
					<div class="about-info">
						<h2> Naver News </h2>
						<h2> Issue <h2>
						<p>  </p>
					</div>
					<ul class="contact-info">
						<li>대한민국</li>
						<li>제주특별자치도</li>
						<li><a href="mailto:lyt970120@gmail.com">lyt970120@gmail.com</a></li>
					</ul>
					<a href="#" class="site-btn">see my portfolio <img src="static/img/arrow-right.png" alt=""></a>
				</div>
			</div>
			<!-- Left Side section end -->
			<!-- Page start -->


			<div class="page-section blog-page">
				<div class="blog-posts">

				<div class="blog-post-item">
						<div class="post-date">
							<h3>06</h3>
							<p>03<br>2020</p>
						</div>
						<img src="static/img/wordcloud/naver/naver_20200306.png" border="0" width="600" height="400"/>
					<p> 네이버뉴스중 가장많이본 뉴스 30개 20200306</p>
				</div>

				<div class="blog-post-item">
						<div class="post-date">
							<h3>05</h3>
							<p>03<br>2020</p>
						</div>
						<img src="static/img/wordcloud/naver/naver_20200305.png" border="0" width="600" height="400"/>
					<p> 네이버뉴스중 가장많이본 뉴스 30개 20200305</p>
				</div>

				<div class="blog-post-item">
						<div class="post-date">
							<h3>04</h3>
							<p>03<br>2020</p>
						</div>
						<img src="static/img/wordcloud/naver/naver_20200304.png" border="0" width="600" height="400"/>
					<p> 네이버뉴스중 가장많이본 뉴스 30개 20200304</p>
				</div>

				<div class="blog-post-item">
						<div class="post-date">
							<h3>03</h3>
							<p>03<br>2020</p>
						</div>
						<img src="static/img/wordcloud/naver/naver_20200303.png" border="0" width="600" height="400"/>
					<p> 네이버뉴스중 가장많이본 뉴스 30개정도 모든분류포함. 20200303</p>
				</div>

				<div class="blog-post-item">
						<div class="post-date">
							<h3>02</h3>
							<p>03<br>2020</p>
						</div>
						<img src="static/img/wordcloud/naver/naver_20200302.png" border="0" width="600" height="400"/>
					<p> 네이버뉴스 헤드라인 5위까지입니다. 20200302</p>
				</div>


				<div class="blog-post-item">
						<div class="post-date">
							<h3>01</h3>
							<p>03<br>2020</p>
						</div>
						<img src="static/img/wordcloud/naver/naver_20200301.png" border="0" width="600" height="400"/>
					<p> 네이버뉴스 헤드라인 5위까지입니다. 20200301</p>
				</div>


				<div class="blog-post-item">
						<div class="post-date">
							<h3>29</h3>
							<p>02<br>2020</p>
						</div>
						<img src="static/img/wordcloud/naver_head0229.png" border="0" width="600" height="400"/>
					<p> 네이버뉴스 헤드라인 5위까지입니다. 20200229</p>
				</div>

				<div class="blog-post-item">
						<div class="post-date">
							<h3>28</h3>
							<p>02<br>2020</p>
						</div>
						<img src="static/img/wordcloud/naver_head0228.png" border="0" width="600" height="400"/>
					<p> 네이버뉴스 헤드라인 5위까지입니다. 20200228</p>
				</div>

				<div class="blog-post-item">
						<div class="post-date">
							<h3>27</h3>
							<p>02<br>2020</p>
						</div>
						<img src="static/img/wordcloud/naver_news_0227.png" border="0" width="600" height="400"/>
					<p> 네이버뉴스 랭킹 5위까지입니다. 20200227</p>
				</div>


					</div>
				<div class="blog-post-item">
					<div class="blog-thumb set-bg" data-setbg="." >
						<div class="post-date">
						</div>
					</div>

						</div>


					</div>
				</div>
			</div>
			<!-- Page end -->
		</div>



{% endblock explain_contents %}