<!DOCTYPE html>

<html  lang="ko">
<head>
  <title> Corona 19 </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% block header %}
  {% endblock header %}
</head>

<body bgcolor="#ff00ff" text="#000000" link="blue" vlink="#00ff00" alink="rgb(0,0,255)">
<nav class="navbar navbar-inverse">
   <div class="container-fluid">
     <div class="navbar-header">
       <a class="navbar-brand" href="http://127.0.0.1:5000/">test</a>
     </div>
     <ul class="nav navbar-nav">
       <li class="active"><a href="http://127.0.0.1:5000">코로나19 감염자 예측모델</a></li>
       <li><a href="http://127.0.0.1:5000/corona19"> 2020-02-25 </a></li>
     </ul>
  </div>
</nav>
{% block title %}
{% endblock title%}

{% block contents %}
{% endblock contents%}

{% block explain_contents %}

{% endblock explain_contents%}

<center>  <br>
  <h3>  </h3></center>

</body>
</html>