<!DOCTYPE html>
<html lang="kr">
<head>
<!--	//-->
	    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>

    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>

            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_839dd162d8e546f4a237dca408bab38a {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
			<style>
			.mobile_map .root_daum_roughmap {width:100%!important;}
			</style>


<!--	//-->
	  <link rel="import" href="map1.html">
	<script data-ad-client="ca-pub-7690745713498799" async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" data-checked-head="true"></script>
	<title>Data Cook</title>
	<meta charset="UTF-8">
	<meta name="description" content="Nissa Photography studio html template">
	<meta name="keywords" content="industry, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Favicon -->
	<link href="img/favicon.ico" rel="shortcut icon"/>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,900&display=swap" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}"/>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/font-awesome.min.css') }}"/>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/magnific-popup.css') }}"/>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/owl.carousel.min.css') }}"/>

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}"/>


	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>

	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Main section start -->
	<div class="main-site-warp">
		<div class="site-menu-warp">
			<div class="close-menu">x</div>
			<!-- Main menu -->
			<ul class="site-menu">
				<li><a href="index" class="active">Home</a></li>
				<li><a href="about">About Us</a></li>
				<li><a href="corona">Corona19</a></li>
				<li><a href="issue">오늘의 이슈</a></li>
				<li><a href="NEW"> NEW </a></li>
			</ul>
			<div class="menu-social">
				<a href=""><i class="fa fa-instagram"></i></a>
				<a href=""><i class="fa fa-facebook"></i></a>
				<a href=""><i class="fa fa-twitter"></i></a>
			</div>
		</div>
		<header class="header-section">
			<div class="nav-switch">
				<i class="fa fa-bars"></i>
			</div>
			<div class="header-social">
				<a href=""><i class="fa fa-instagram"></i></a>
				<a href=""><i class="fa fa-facebook"></i></a>
				<a href=""><i class="fa fa-twitter"></i></a>
			</div>
		</header>
<!--		<div class="site-content-warp">-->
			<!-- Left Side section -->

			<!-- Left Side section end -->
			<!-- Page start -->
			<div class="page-section contact-page">
				<div class="contact-section">
					<div class="row">
						<div class="col-xl-6">
							<div class="contact-text-warp">
								<div class="contact-text">
									<p> 　</p>
									<h2>현재 제주도 신천지 교회 위치</h2>
									<p>2020 02 28 /</p>
<!--								<form class="contact-form">-->
<!--									<div class="row">-->
<!--										<div class="col-lg-6">-->
<!--											<input type="text" placeholder="Name">-->
<!--										</div>-->
<!--										<div class="col-lg-6">-->
<!--											<input type="text" placeholder="E-mail">-->
<!--										</div>-->
<!--										<div class="col-lg-12">-->
<!--											<input type="text" placeholder="Subject">-->
<!--											<textarea placeholder="Message"></textarea>-->
<!--											<button class="site-btn">send message <img src="static/img/arrow-right.png" alt=""></button>-->
<!--										</div>-->
<!--									</div>-->
<!--								</form>-->
							</div>
						</div>
							</div>
								<div class="folium-map" id="map_839dd162d8e546f4a237dca408bab38a" ></div>
<!--							<div class="map"><iframe src="map1" style="border:0" allowfullscreen></iframe></div>-->
<!--							<div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14376.077865872314!2d-73.879277264103!3d40.757667781624285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1546528920522" style="border:0" allowfullscreen></iframe></div>-->


					</div>
				</div>
			</div>
			<!-- Page end -->

		<div class="copyright"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
	</div>
	<!-- Main section end -->

	<!--====== Javascripts & Jquery ======-->
	<script src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>
	<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static',filename='js/owl.carousel.min.js') }}"></script>
	<script src="{{ url_for('static',filename='js/jquery.nicescroll.min.js') }}"></script>
	<script src="{{ url_for('static',filename='js/circle-progress.min.js') }}"></script>
	<script src="{{ url_for('static',filename='js/jquery.magnific-popup.min.js') }}"></script>
	<script src="{{ url_for('static',filename='js/main.js') }}"></script>
<script>

            var map_839dd162d8e546f4a237dca408bab38a = L.map(
                "map_839dd162d8e546f4a237dca408bab38a",
                {
                    center: [33.392847, 126.547623],
                    crs: L.CRS.EPSG3857,
                    zoom: 11,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );





            var tile_layer_dc767472006c4188be6beaf456544d8f = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_839dd162d8e546f4a237dca408bab38a);


            var marker_03d97823ad3f4c27b71a8849ecc3ce3d = L.marker(
                [33.5052063, 126.5383152],
                {"fontproperties": "C:/Windows/Fonts/HMKMAMI.ttf"}
            ).addTo(map_839dd162d8e546f4a237dca408bab38a);


            var icon_7aa76137069547b7b2a7daac03d06324 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_03d97823ad3f4c27b71a8849ecc3ce3d.setIcon(icon_7aa76137069547b7b2a7daac03d06324);


        var popup_11a1f5946064483c8d1ba90b789c3014 = L.popup({"maxWidth": "100%"});


            var html_d20c369c0f05445682320f2fdb9a3b64 = $(`<div id="html_d20c369c0f05445682320f2fdb9a3b64" style="width: 100.0%; height: 100.0%;">제주시 동광로 96(5층)</div>`)[0];
            popup_11a1f5946064483c8d1ba90b789c3014.setContent(html_d20c369c0f05445682320f2fdb9a3b64);


        marker_03d97823ad3f4c27b71a8849ecc3ce3d.bindPopup(popup_11a1f5946064483c8d1ba90b789c3014)
        ;




            var marker_5715c763ec1e4f1a8cdd83e8361b58e3 = L.marker(
                [33.505335, 126.5359325],
                {"fontproperties": "C:/Windows/Fonts/HMKMAMI.ttf"}
            ).addTo(map_839dd162d8e546f4a237dca408bab38a);


            var icon_9842be567eb3447fad72bacf541c6156 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_5715c763ec1e4f1a8cdd83e8361b58e3.setIcon(icon_9842be567eb3447fad72bacf541c6156);


        var popup_07ccddbe9d5349f1964f3a5d197fb2f3 = L.popup({"maxWidth": "100%"});


            var html_cf0ad5d50b894544b6c2f3ee99d5a4b7 = $(`<div id="html_cf0ad5d50b894544b6c2f3ee99d5a4b7" style="width: 100.0%; height: 100.0%;">제주시 신산로 97</div>`)[0];
            popup_07ccddbe9d5349f1964f3a5d197fb2f3.setContent(html_cf0ad5d50b894544b6c2f3ee99d5a4b7);


        marker_5715c763ec1e4f1a8cdd83e8361b58e3.bindPopup(popup_07ccddbe9d5349f1964f3a5d197fb2f3)
        ;




            var marker_1f4f7fa07331424597fbb639e5d73aa6 = L.marker(
                [33.5032511, 126.5268461],
                {"fontproperties": "C:/Windows/Fonts/HMKMAMI.ttf"}
            ).addTo(map_839dd162d8e546f4a237dca408bab38a);


            var icon_314259cc85a34cca957eba855cc142e0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_1f4f7fa07331424597fbb639e5d73aa6.setIcon(icon_314259cc85a34cca957eba855cc142e0);


        var popup_a1bb9913f74d46ab941f24243d12f37b = L.popup({"maxWidth": "100%"});


            var html_b56c99c346c84b15a135e3b9954cc025 = $(`<div id="html_b56c99c346c84b15a135e3b9954cc025" style="width: 100.0%; height: 100.0%;">제주시 광양2길 33(4층)</div>`)[0];
            popup_a1bb9913f74d46ab941f24243d12f37b.setContent(html_b56c99c346c84b15a135e3b9954cc025);


        marker_1f4f7fa07331424597fbb639e5d73aa6.bindPopup(popup_a1bb9913f74d46ab941f24243d12f37b)
        ;




            var marker_82a72c7b6e024afd86dfb2679c6f259c = L.marker(
                [33.4859291, 126.4950214],
                {"fontproperties": "C:/Windows/Fonts/HMKMAMI.ttf"}
            ).addTo(map_839dd162d8e546f4a237dca408bab38a);


            var icon_b169c44c3c1a4bb599d8112887d5acda = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_82a72c7b6e024afd86dfb2679c6f259c.setIcon(icon_b169c44c3c1a4bb599d8112887d5acda);


        var popup_a5e3ee983bf04d15b02f377bdccc975e = L.popup({"maxWidth": "100%"});


            var html_bf841c37c80c4007beff8f06252f512b = $(`<div id="html_bf841c37c80c4007beff8f06252f512b" style="width: 100.0%; height: 100.0%;">제주시 노연로 137(2층)</div>`)[0];
            popup_a5e3ee983bf04d15b02f377bdccc975e.setContent(html_bf841c37c80c4007beff8f06252f512b);


        marker_82a72c7b6e024afd86dfb2679c6f259c.bindPopup(popup_a5e3ee983bf04d15b02f377bdccc975e)
        ;




            var marker_064537a0916b484f9c25e777b0682292 = L.marker(
                [33.493848, 126.5337834],
                {"fontproperties": "C:/Windows/Fonts/HMKMAMI.ttf"}
            ).addTo(map_839dd162d8e546f4a237dca408bab38a);


            var icon_7a8a17454fb447a3a82815b7c5f976c8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_064537a0916b484f9c25e777b0682292.setIcon(icon_7a8a17454fb447a3a82815b7c5f976c8);


        var popup_6d0b777a4a4d4c31ae4932c6c5cdd56c = L.popup({"maxWidth": "100%"});


            var html_57c57f5a721e46198df0bb3269b0011a = $(`<div id="html_57c57f5a721e46198df0bb3269b0011a" style="width: 100.0%; height: 100.0%;">제주시 구남로 7길 13-2</div>`)[0];
            popup_6d0b777a4a4d4c31ae4932c6c5cdd56c.setContent(html_57c57f5a721e46198df0bb3269b0011a);


        marker_064537a0916b484f9c25e777b0682292.bindPopup(popup_6d0b777a4a4d4c31ae4932c6c5cdd56c)
        ;




            var marker_a29d32e3df064a0dbe9164c04224ddec = L.marker(
                [33.5179022, 126.4891045],
                {"fontproperties": "C:/Windows/Fonts/HMKMAMI.ttf"}
            ).addTo(map_839dd162d8e546f4a237dca408bab38a);


            var icon_6e2195ec21554931a24b39401806a720 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_a29d32e3df064a0dbe9164c04224ddec.setIcon(icon_6e2195ec21554931a24b39401806a720);


        var popup_87e68ddf1c644f6eae2184708cf0b9c5 = L.popup({"maxWidth": "100%"});


            var html_dd6f36643f9449419e547b2d4dda867b = $(`<div id="html_dd6f36643f9449419e547b2d4dda867b" style="width: 100.0%; height: 100.0%;">제주시 서해안로 456-8(천지도형)</div>`)[0];
            popup_87e68ddf1c644f6eae2184708cf0b9c5.setContent(html_dd6f36643f9449419e547b2d4dda867b);


        marker_a29d32e3df064a0dbe9164c04224ddec.bindPopup(popup_87e68ddf1c644f6eae2184708cf0b9c5)
        ;




            var marker_832e56175f514c51a9450d8317ce02e9 = L.marker(
                [33.4859291, 126.4950214],
                {"fontproperties": "C:/Windows/Fonts/HMKMAMI.ttf"}
            ).addTo(map_839dd162d8e546f4a237dca408bab38a);


            var icon_5dd3171725f3470f96302fc7b046fc50 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_832e56175f514c51a9450d8317ce02e9.setIcon(icon_5dd3171725f3470f96302fc7b046fc50);


        var popup_a7a09f2a62d14099b9e2a8a6fc3db4db = L.popup({"maxWidth": "100%"});


            var html_acb868a9e95f4db296db7587b061972b = $(`<div id="html_acb868a9e95f4db296db7587b061972b" style="width: 100.0%; height: 100.0%;">제주시 노연로 137</div>`)[0];
            popup_a7a09f2a62d14099b9e2a8a6fc3db4db.setContent(html_acb868a9e95f4db296db7587b061972b);


        marker_832e56175f514c51a9450d8317ce02e9.bindPopup(popup_a7a09f2a62d14099b9e2a8a6fc3db4db)
        ;




            var marker_ca30d5dc8e924c8f999801648e38f5b3 = L.marker(
                [33.2496818, 126.5664637],
                {"fontproperties": "C:/Windows/Fonts/HMKMAMI.ttf"}
            ).addTo(map_839dd162d8e546f4a237dca408bab38a);


            var icon_5cb6d3b49c56491ba0b61cc3668ac074 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_ca30d5dc8e924c8f999801648e38f5b3.setIcon(icon_5cb6d3b49c56491ba0b61cc3668ac074);


        var popup_843f52d08e0e43249fb7ec21543cd512 = L.popup({"maxWidth": "100%"});


            var html_a140213f4161474f8f91a4b6a5b643d8 = $(`<div id="html_a140213f4161474f8f91a4b6a5b643d8" style="width: 100.0%; height: 100.0%;">서귀포시 동문로 55</div>`)[0];
            popup_843f52d08e0e43249fb7ec21543cd512.setContent(html_a140213f4161474f8f91a4b6a5b643d8);


        marker_ca30d5dc8e924c8f999801648e38f5b3.bindPopup(popup_843f52d08e0e43249fb7ec21543cd512)
        ;




            var marker_ae8857ee935a43e2b27b7b9f4941d73f = L.marker(
                [33.25085790000001, 126.5622767],
                {"fontproperties": "C:/Windows/Fonts/HMKMAMI.ttf"}
            ).addTo(map_839dd162d8e546f4a237dca408bab38a);


            var icon_4b9c2c6e27564231a4745c6020532005 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_ae8857ee935a43e2b27b7b9f4941d73f.setIcon(icon_4b9c2c6e27564231a4745c6020532005);


        var popup_59a8205ed60049a1b5cf25307119070f = L.popup({"maxWidth": "100%"});


            var html_5e21db35228949119c87e21853eded12 = $(`<div id="html_5e21db35228949119c87e21853eded12" style="width: 100.0%; height: 100.0%;">서귀포시 중앙로 72번길 8-5(2층)</div>`)[0];
            popup_59a8205ed60049a1b5cf25307119070f.setContent(html_5e21db35228949119c87e21853eded12);


        marker_ae8857ee935a43e2b27b7b9f4941d73f.bindPopup(popup_59a8205ed60049a1b5cf25307119070f)
        ;



</script>
	</body>
</html>
