{% extends "base.html" %}
{% block explain_contents %}
		</header>
		<div class="site-content-warp">
			<!-- Left Side section -->
			<div class="main-sidebar">
				<div class="mb-warp">
					<a href="index" class="site-logo">
						<h2>Data Cook</h2>
						<p>BigData analysis</p>
					</a>
					<div class="about-info">
						<h2> Deep Learning </h2>
						<h5> 스크롤을 내리면 있습니다. </h5>
					</div>
					<ul class="contact-info">
						<li>대한민국</li>
						<li>제주특별자치도</li>
						<li><a href="mailto:lyt970120@gmail.com">lyt970120@gmail.com</a></li>
					</ul>
				<a href="pop" class="site-btn" onclick="window.open(this.href, '_blank', 'width=600,height=800, scrollbars=no, resizable=no, toolbars=no, menubar=no'); return false;">문의하기 <img src="static/img/arrow-right.png" alt=""></a>
				</div>
			</div>
			<!-- Left Side section end -->
			<!-- Page start -->


			<div class="page-section blog-page">
				<div class="blog-posts">

				<div class="blog-post-item">
						<div class="post-date">
							<h3>03</h3>
							<p> <br>2020</p>
						</div>
<!--						<img src="static/img/blog/20200303.png" border="0" width="600" height="400"/>-->
					<h3> Cat & Dog 분류  </h3>
					<a href="/catdog" class="site-btn"> 바로가기 <img src="static/img/index/catdog.jpg" height="100" width="100" alt=""></a>

					</div>



			<!-- Page end -->
		</div>
{% endblock explain_contents %}