{% extends "base.html" %}
{% block explain_contents %}
		<div class="site-content-warp">
			<!-- Left Side section -->
			<div class="main-sidebar">
				<div class="mb-warp">
					<a href="index" class="site-logo">
						<h2>Data Cook</h2>
						<p>BigData analysis</p>
					</a>
					<div class="about-info">
						<h2>Data analysis</h2>
						<p> 데이터를 통해 새로운것을 발견하다. </p>
					</div>
					<ul class="contact-info">
						<li>대한민국</li>
						<li>제주특별자치도</li>
						<li><a href="mailto:lyt970120@gmail.com">lyt970120@gmail.com</a></li>
					</ul>

					<a href="index" class="site-btn"> Site <img src="static/img/arrow-right.png" alt=""></a>
				</div>
			</div>
			<!-- Left Side section end -->
			<!-- Page start -->
			<div class="page-section">
				<div class="hero-section">
					<div class="hero-scroll">
						<div class="hero-track">

							<div class="hs-item set-bg" data-setbg="static/img/corona.jpg">
								<div class="hs-info">
									<h5>코로나19바이러스</h5>
									<p>감염자수 예측</p>
									<a href="corona"><img src="static/img/right.png" width="50" height="50" alt=""></a>
								</div>
							</div>


							<div class="hs-item set-bg" data-setbg="static/img/index/issue.png">
								<div class="hs-info">
									<h5 href="issue"> SNS 이슈 분석</h5>
									<p href="issue"> by twitter, naver, daum</p>
									<a href="issue"><img src="static/img/right.png" width="50" height="50"  alt=""></a>
								</div>
							</div>


<!--							<div class="hs-item set-bg" data-setbg="static/img/hero/1.jpg">-->
<!--								<div class="hs-info">-->
<!--									<h5>Ice Cold Love</h5>-->
<!--									<p>Nature Photoagraphy</p>-->
<!--									<a href="#"><img src="static/img/arrow-right.png" alt=""></a>-->
<!--								</div>-->
<!--							</div>-->


						</div>
					</div>
				</div>
			</div>
{% endblock explain_contents %}