{% extends "base.html" %}
{% block explain_contents %}
		<div class="site-content-warp">
			<!-- Left Side section -->
			<div class="main-sidebar">
				<div class="mb-warp">
					<a href="index" class="site-logo">
						<h2>Data Cook</h2>
						<p>BigData analysis</p>
					</a>
					<div class="about-info">
						<h2>Data analysis</h2>
						<p> 데이터를 통해 새로운것을 발견하다. </p>
						<h5> 스크롤을 내리면 있습니다. </h5>
						<br>
						<h4>금일 방문자 수 {{today}} 명</h4>
					</div>
					<ul class="contact-info">
						<li>대한민국</li>
						<li>제주특별자치도</li>
						<li><a href="mailto:lyt970120@gmail.com">lyt970120@gmail.com</a></li>
					</ul>
				<a href="pop" class="site-btn" onclick="window.open(this.href, '_blank', 'width=600,height=800, scrollbars=no, resizable=no, toolbars=no, menubar=no'); return false;">문의하기 <img src="static/img/arrow-right.png" alt=""></a>
<!--					<a href="index" class="site-btn"> Site <img src="static/img/arrow-right.png" alt=""></a>-->
				</div>
			</div>
			<!-- Left Side section end -->
			<!-- Page start -->
			<div class="page-section">
				<div class="hero-section">
					<div class="hero-scroll">
						<div class="hero-track">

							<div class="hs-item set-bg" data-setbg="static/img/index/catdog.jpg">
								<div class="hs-info">
									<h5 href="deepleaning"> 딥러닝 체험 </h5>
									<p href="deepleaning"> by tensorflow, keras </p>
									<a href="deepleaning"><img src="static/img/right.png" width="50" height="50"  alt=""></a>
								</div>
							</div>

							<div class="hs-item set-bg" data-setbg="static/img/index/machine.PNG">
								<div class="hs-info">
									<h5 href="machineleaning"> 머신러닝 체험 </h5>
									<p href="machineleaning"> by scikit-learn </p>
									<a href="machineleaning"><img src="static/img/right.png" width="50" height="50"  alt=""></a>
								</div>
							</div>


							<div class="hs-item set-bg" data-setbg="static/img/corona.jpg">
								<div class="hs-info">
									<h5>코로나19바이러스</h5>
									<p>감염자수 예측</p>
									<a href="corona"><img src="static/img/right.png" width="50" height="50" alt=""></a>
								</div>
							</div>


							<div class="hs-item set-bg" data-setbg="static/img/index/issue.png">
								<div class="hs-info">
									<h5 href="issue"> 이슈 분석</h5>
									<p href="issue"> by twitter, naver, daum</p>
									<a href="issue"><img src="static/img/right.png" width="50" height="50"  alt=""></a>
								</div>
							</div>


						</div>
					</div>
				</div>
			</div>
{% endblock explain_contents %}