{% extends "base.html" %}
{% block explain_contents %}
		</header>
		<div class="site-content-warp">
			<!-- Left Side section -->
			<div class="main-sidebar">
				<div class="mb-warp">
					<a href="index" class="site-logo">
						<h2>Data Cook</h2>
						<p>BigData analysis</p>
					</a>
					<div class="about-info">
						<h2>Issue analysis</h2>
						<p> 뉴스 데이터, 트위터 데이터 형태소 분석 </p>
						<h5> 스크롤을 내리면 있습니다. </h5>
					</div>
					<ul class="contact-info">
						<li>대한민국</li>
						<li>제주특별자치도</li>
						<li><a href="mailto:lyt970120@gmail.com">lyt970120@gmail.com</a></li>
					</ul>
				<a href="pop" class="site-btn" onclick="window.open(this.href, '_blank', 'width=600,height=800, scrollbars=no, resizable=no, toolbars=no, menubar=no'); return false;">문의하기 <img src="static/img/arrow-right.png" alt=""></a>
				</div>
			</div>
			<!-- Left Side section end -->
			<!-- Page start -->
			<div class="page-section portfolio-page">
				<div class="portfolio-section">
					<div class="row">
						<div class="col-xl-8">
							<div class="row">
<!--								<div class="col-md-6">-->
<!--									<div class="portfolio-item">-->
<!--										<img src="static/img/crawl/twitter.png" alt="#">-->
<!--										<div class="pi-info">-->
<!--											<h5>Twitter 이슈 분석</h5>-->
<!--											<p>매일 전날 자료 업데이트 예정</p>-->
<!--											<a href="Twitter"><img src="static/img/arrow-right.png" alt=""> <p>바로가기</p></a>-->
<!--										</div>-->
<!--									</div>-->
<!--								</div>-->
								<div class="col-lg-6">
									<div class="portfolio-item">
										<img src="static/img/crawl/daum1.png" alt="#">
										<div class="pi-info">
											<h5>다음뉴스 이슈분석</h5>
											<p>매일 전날 자료 업데이트 예정</p>
											<a href="Daum"><img src="static/img/arrow-right.png" alt=""> <p>바로가기</p></a>
										</div>
									</div>
								</div>
								<div class="col-lg-12">
									<div class="portfolio-item">
										<img src="static/img/crawl/naver.png" width="100" height="200" alt="#">
										<div class="pi-info">
											<h5>네이버뉴스 이슈분석</h5>
											<p>매일 전날 자료 업데이트 예정</p>
											<a href="Naver"><img src="static/img/arrow-right.png" alt=""> <p>바로가기</p></a>
										</div>
									</div>
								</div>
							</div>
						</div>	
					</div>
				</div>
			</div>
			<!-- Page end -->
		</div>
{% endblock explain_contents %}