{% extends "base.html" %}
{% block explain_contents %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


		<div class="site-content-warp">
			<!-- Left Side section -->
			<div class="main-sidebar">
				<div class="mb-warp">
					<a href="index" class="site-logo">
						<h2>Data Cook</h2>
						<p>BigData analysis</p>
					</a>
					<div class="about-info">
						<h2> Naver News </h2>
						<h2> Issue <h2>
						<p>  </p>
					</div>
					<ul class="contact-info">
						<li>대한민국</li>
						<li>제주특별자치도</li>
						<li><a href="mailto:lyt970120@gmail.com">lyt970120@gmail.com</a></li>
					</ul>
				<a href="pop" class="site-btn" onclick="window.open(this.href, '_blank', 'width=600,height=800, scrollbars=no, resizable=no, toolbars=no, menubar=no'); return false;">문의하기 <img src="static/img/arrow-right.png" alt=""></a>
				</div>
			</div>
			<!-- Left Side section end -->
			<!-- Page start -->
				<!-- 텍스트~~	-->
			<div class="container">
					  <div class="dropdown">
						<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
						  목록보기
						</button>
					  <p>이미 지난 이슈를 볼수 있습니다.</p>

						<div class="dropdown-menu">
						  <a class="dropdown-item" href="naver02">2020/02</a>
						  <a class="dropdown-item" href="naver03">2020/03</a>
<!--						  <a class="dropdown-item-text" href="#">Text Link</a>-->
<!--						  <span class="dropdown-item-text">Just Text</span>-->
						</div>
					  </div>
					</div>
<!--
				TEXT 입력창
-->
			<div class="page-section blog-page">

				<div class="blog-post-item">
						<div class="post-date">
							<h3>25</h3>
							<p>03<br>2020</p>
						</div>
						<img src="static/img/wordcloud/naver/naver_20200325.png" border="0" width="600" height="400"/>
					<p> 네이버뉴스중 가장많이본 뉴스 30개 20200325</p>
				</div>

				<div class="blog-post-item">
						<div class="post-date">
							<h3>24</h3>
							<p>03<br>2020</p>
						</div>
						<img src="static/img/wordcloud/naver/naver_20200324.png" border="0" width="600" height="400"/>
					<p> 네이버뉴스중 가장많이본 뉴스 30개 20200324</p>
				</div>

				<div class="blog-post-item">
						<div class="post-date">
							<h3>23</h3>
							<p>03<br>2020</p>
						</div>
						<img src="static/img/wordcloud/naver/naver_20200323.png" border="0" width="600" height="400"/>
					<p> 네이버뉴스중 가장많이본 뉴스 30개 20200323</p>
				</div>

				<div class="blog-post-item">
						<div class="post-date">
							<h3>22</h3>
							<p>03<br>2020</p>
						</div>
						<img src="static/img/wordcloud/naver/naver_20200322.png" border="0" width="600" height="400"/>
					<p> 네이버뉴스중 가장많이본 뉴스 30개 20200322</p>
				</div>


				<div class="blog-post-item">
						<div class="post-date">
							<h3>21</h3>
							<p>03<br>2020</p>
						</div>
						<img src="static/img/wordcloud/naver/naver_20200321.png" border="0" width="600" height="400"/>
					<p> 네이버뉴스중 가장많이본 뉴스 30개 20200321</p>
				</div>


				<div class="blog-post-item">
						<div class="post-date">
							<h3>20</h3>
							<p>03<br>2020</p>
						</div>
						<img src="static/img/wordcloud/naver/naver_20200320.png" border="0" width="600" height="400"/>
					<p> 네이버뉴스중 가장많이본 뉴스 30개 20200320</p>
				</div>


				<div class="blog-post-item">
						<div class="post-date">
							<h3>19</h3>
							<p>03<br>2020</p>
						</div>
						<img src="static/img/wordcloud/naver/naver_20200319.png" border="0" width="600" height="400"/>
					<p> 네이버뉴스중 가장많이본 뉴스 30개 20200319</p>
				</div>


				<div class="blog-post-item">
						<div class="post-date">
							<h3>18</h3>
							<p>03<br>2020</p>
						</div>
						<img src="static/img/wordcloud/naver/naver_20200318.png" border="0" width="600" height="400"/>
					<p> 네이버뉴스중 가장많이본 뉴스 30개 20200318</p>
				</div>


				<div class="blog-post-item">
						<div class="post-date">
							<h3>17</h3>
							<p>03<br>2020</p>
						</div>
						<img src="static/img/wordcloud/naver/naver_20200317.png" border="0" width="600" height="400"/>
					<p> 네이버뉴스중 가장많이본 뉴스 30개 20200317</p>
				</div>


				<div class="blog-post-item">
						<div class="post-date">
							<h3>16</h3>
							<p>03<br>2020</p>
						</div>
						<img src="static/img/wordcloud/naver/naver_20200316.png" border="0" width="600" height="400"/>
					<p> 네이버뉴스중 가장많이본 뉴스 30개 20200316</p>
				</div>


				<div class="blog-post-item">
						<div class="post-date">
							<h3>15</h3>
							<p>03<br>2020</p>
						</div>
						<img src="static/img/wordcloud/naver/naver_20200315.png" border="0" width="600" height="400"/>
					<p> 네이버뉴스중 가장많이본 뉴스 30개 20200315</p>
				</div>


				<div class="blog-post-item">
						<div class="post-date">
							<h3>14</h3>
							<p>03<br>2020</p>
						</div>
						<img src="static/img/wordcloud/naver/naver_20200314.png" border="0" width="600" height="400"/>
					<p> 네이버뉴스중 가장많이본 뉴스 30개 20200314</p>
				</div>


				<div class="blog-post-item">
						<div class="post-date">
							<h3>13</h3>
							<p>03<br>2020</p>
						</div>
						<img src="static/img/wordcloud/naver/naver_20200313.png" border="0" width="600" height="400"/>
					<p> 네이버뉴스중 가장많이본 뉴스 30개 20200313</p>
				</div>



				<div class="blog-post-item">
						<div class="post-date">
							<h3>12</h3>
							<p>03<br>2020</p>
						</div>
						<img src="static/img/wordcloud/naver/naver_20200312.png" border="0" width="600" height="400"/>
					<p> 네이버뉴스중 가장많이본 뉴스 30개 20200312</p>
				</div>


				<div class="blog-post-item">
						<div class="post-date">
							<h3>11</h3>
							<p>03<br>2020</p>
						</div>
						<img src="static/img/wordcloud/naver/naver_20200311.png" border="0" width="600" height="400"/>
					<p> 네이버뉴스중 가장많이본 뉴스 30개 20200311</p>
				</div>


				<div class="blog-post-item">
						<div class="post-date">
							<h3>10</h3>
							<p>03<br>2020</p>
						</div>
						<img src="static/img/wordcloud/naver/naver_20200310.png" border="0" width="600" height="400"/>
					<p> 네이버뉴스중 가장많이본 뉴스 30개 20200310</p>
				</div>


				<div class="blog-post-item">
						<div class="post-date">
							<h3>09</h3>
							<p>03<br>2020</p>
						</div>
						<img src="static/img/wordcloud/naver/naver_20200309.png" border="0" width="600" height="400"/>
					<p> 네이버뉴스중 가장많이본 뉴스 30개 20200309</p>
				</div>

				<div class="blog-post-item">
						<div class="post-date">
							<h3>08</h3>
							<p>03<br>2020</p>
						</div>
						<img src="static/img/wordcloud/naver/naver_20200308.png" border="0" width="600" height="400"/>
					<p> 네이버뉴스중 가장많이본 뉴스 30개 20200308</p>
				</div>


				<div class="blog-post-item">
						<div class="post-date">
							<h3>07</h3>
							<p>03<br>2020</p>
						</div>
						<img src="static/img/wordcloud/naver/naver_20200307.png" border="0" width="600" height="400"/>
					<p> 네이버뉴스중 가장많이본 뉴스 30개 20200307</p>
				</div>

				<div class="blog-post-item">
						<div class="post-date">
							<h3>06</h3>
							<p>03<br>2020</p>
						</div>
						<img src="static/img/wordcloud/naver/naver_20200306.png" border="0" width="600" height="400"/>
					<p> 네이버뉴스중 가장많이본 뉴스 30개 20200306</p>
				</div>

				<div class="blog-post-item">
						<div class="post-date">
							<h3>05</h3>
							<p>03<br>2020</p>
						</div>
						<img src="static/img/wordcloud/naver/naver_20200305.png" border="0" width="600" height="400"/>
					<p> 네이버뉴스중 가장많이본 뉴스 30개 20200305</p>
				</div>

				<div class="blog-post-item">
						<div class="post-date">
							<h3>04</h3>
							<p>03<br>2020</p>
						</div>
						<img src="static/img/wordcloud/naver/naver_20200304.png" border="0" width="600" height="400"/>
					<p> 네이버뉴스중 가장많이본 뉴스 30개 20200304</p>
				</div>

				<div class="blog-post-item">
						<div class="post-date">
							<h3>03</h3>
							<p>03<br>2020</p>
						</div>
						<img src="static/img/wordcloud/naver/naver_20200303.png" border="0" width="600" height="400"/>
					<p> 네이버뉴스중 가장많이본 뉴스 30개정도 모든분류포함. 20200303</p>
				</div>

				<div class="blog-post-item">
						<div class="post-date">
							<h3>02</h3>
							<p>03<br>2020</p>
						</div>
						<img src="static/img/wordcloud/naver/naver_20200302.png" border="0" width="600" height="400"/>
					<p> 네이버뉴스 헤드라인 5위까지입니다. 20200302</p>
				</div>


				<div class="blog-post-item">
						<div class="post-date">
							<h3>01</h3>
							<p>03<br>2020</p>
						</div>
						<img src="static/img/wordcloud/naver/naver_20200301.png" border="0" width="600" height="400"/>
					<p> 네이버뉴스 헤드라인 5위까지입니다. 20200301</p>
				</div>





					</div>
				<div class="blog-post-item">
					<div class="blog-thumb set-bg" data-setbg="." >
						<div class="post-date">
						</div>
					</div>

						</div>


					</div>
				</div>
			</div>
			<!-- Page end -->
		</div>



{% endblock explain_contents %}